@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
  .icon{
    @apply hidden xl:inline-flex p-2 h-10 bg-gray-200 rounded-full text-gray-700 cursor-pointer hover:bg-gray-300;
  }

  .reactIcon{
    @apply hidden xl:inline-flex p-2 text-[40px] bg-gray-200 rounded-full text-black cursor-pointer hover:bg-gray-300;
  }

  .inputIcon{
    @apply flex items-center space-x-1 hover:bg-gray-100 flex-grow justify-center p-2 rounded-xl cursor-pointer
  }

  
.spinner {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background: radial-gradient(farthest-side,rgb(37, 99, 235) 94%,#0000) top/9px 9px no-repeat,
         conic-gradient(#0000 30%,rgb(37, 99, 235) );
  -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 9px),#000 0);
  animation: spinner-c7wet2 1s infinite linear;
}

@keyframes spinner-c7wet2 {
  100% {
     transform: rotate(1turn);
  }
}

}
